<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Device Manager</title>
  </head>
  <body>
    <div ng-app="device-manager" ng-controller="deviceManagerController">
      device count : {{ deviceCount }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/deviceManagerController.js"></script>


  </body>
</html>
